---
import type { Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import '../../styles/episodes-list.css';
import EpisodePreview from '../../components/EpisodePreview.astro';

export async function getStaticPaths({ paginate }) {
  const episodes = await getCollection('episodes', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });
  episodes.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  return paginate(episodes, { pageSize: 5 });
}

// All paginated data is passed on the "page" prop
type Props = { page: Page<CollectionEntry<'episodes'>> };
const { page } = Astro.props;
const episodes = page.data;
const pageTitle = 'All episodes';
const pageMeta = {
  title: 'Upstairs Downstairs | ' + pageTitle,
  description: 'All of the podcast episodes in one place',
  imageUrl: '/social_images_1200/podcast-social.png',
};
---

<BaseLayout pageMeta={pageMeta}>
  <section class="episodegrid">
    <h2 class="content-padding">{pageTitle}</h2>
    <div class="grid content-padding">
      {episodes.map(episode => <EpisodePreview data={episode.data} />)}
    </div>
  </section>
  <section class="pagination">
    <nav aria-label="Pagination">
      <div class="content-padding">
        {
          page.url.prev && (
            <a
              href={page.url.prev}
              aria-label={`Go to page ${page.currentPage - 1} of ${page.lastPage}`}
            >
              Prev
            </a>
          )
        }
        <span aria-current="page">
          &nbsp;Page {page.currentPage} of {page.lastPage}&nbsp;
        </span>
        {
          page.url.next && (
            <a
              href={page.url.next}
              aria-label={`Go to page ${page.currentPage + 1} of ${page.lastPage}`}
            >
              Next
            </a>
          )
        }
      </div>
    </nav>
  </section>
</BaseLayout>
