---
const { data, url } = Astro.props;
import { Image } from 'astro:assets';
const dateOptions: object = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
};
const formattedPublishDate = new Date(data.pubDate).toLocaleDateString(
  'en-UK',
  dateOptions,
);
---

<article>
  <Image
    src={data.episodeImage.src}
    alt={data.episodeImage.alt}
    width="200"
    height="200"
    quality="high"
  />
  <a href={url}><h3>{data.title}</h3></a>
  <p>{formattedPublishDate}</p>
  <p>{data.description}</p>
</article>
