---
import Head from '../components/Head.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { frontmatter, pageMeta, prevepisode, nextepisode } = Astro.props;
---

<html lang="en">
  <Head frontmatter={frontmatter} pageMeta={pageMeta} />
  <body>
    <div class="container">
      <Navigation />
      <main>
        <slot />
        <p class="toplink content-padding">
          <a href="#top">[Back to top]</a>
        </p>
      </main>
      <section class="episodeNav">
        {
          prevepisode && (
            <div class="prevNav">
              <a href={`/episodes/${prevepisode.id}/`}>
                &lt&lt {prevepisode.data.title}
              </a>
            </div>
          )
        }
        {!nextepisode && prevepisode && <div class="nextNav"> (｡◕‿‿◕｡) </div>}
        {!prevepisode && nextepisode && <div class="prevNav"> (｡◕‿‿◕｡) </div>}
        {
          nextepisode && (
            <div class="nextNav">
              <a href={`/episodes/${nextepisode.id}/`}>
                {nextepisode.data.title} &gt&gt
              </a>
            </div>
          )
        }
      </section>
      <Footer />
      <script>
        import '../scripts/menu.js';
        import '../scripts/audio-controls.js';
      </script>
    </div>
  </body>
</html>
